@page "/About"

<PageTitle>Where do they stand?</PageTitle>

<p>This is a personal project.  Any opinions expressed are my own.  Please report any issues by filing an issue on <a href="https://github.com/gfs/WhereDoTheyStand" target="_blank">GitHub</a>.</p>

<p>Data was collected in CSV format for the top 100 PAC contributors to each legislator via OpenSecrets.org on May 12, 2022.</p>

<p>This site is written in .NET 6 running on WebAssembly.</p>

<p>Thank you to Open Secrets for providing the source data via their public website. This project is not affiliated with Open Secrets, but you can donate to OpenSecrets <a href="https://www.opensecrets.org/donate" target="_blank">here</a> to promote transparency in government and open access to data.</p>