@page "/Candidate/{CandidateId}"

@inject AppData AppData

<PageTitle>Where do they stand?</PageTitle>

<p>Access to Safe Legal Abortion is a Human Right.  This is codified by the United Nations in the UN Convention on Civil and Political Rights via General Comment No. 36 point 8 (2019).</p>

<p>150 Republican House Members have co-sponsored the Life At Conception Act of 2021 (HR 1011), which would revoke that right in US law nationwide.</p>

<p>These are the PACs that have contributed money for the 2021-2022 election cycle for those candidates, ordered by the amount donated, as recorded by OpenSecrets.org.</p>

<p>Data from the top 100 contributors to each candidate from OpenSecrets.org as of 5/12/2022.  Individual contributions not included.</p>

@if (string.IsNullOrEmpty(CandidateId))
{
    <a href="Candidates">Navigate to all candidates overview.</a>
}
else
{
    <div>
        <h1>@AppData.candidateMap[CandidateId].name</h1>
        The following have donated to this candidate via their PAC. <a href=@CandidateUrl target="_blank">Source</a>

        @foreach(var donation in AppData.candidateDict[CandidateId].Where(x => x.Pacs > 0).OrderByDescending(x => x.Pacs))
        {
            <p><a href="Pac/@donation.org.Pacid">@donation.org.Ultord</a> donated $@String.Format("{0:n0}",donation.Pacs)</p>
        }
    </div>    
}

@code{
        [Parameter]
        public string CandidateId { get; set; }

        string CandidateUrl => $"https://www.opensecrets.org/members-of-congress/contributors?cid={CandidateId}&cycle=2022";
}