@page "/Candidate/{CandidateId}"

@inject AppData AppData

<PageTitle>Where do they stand?</PageTitle>

<Statement></Statement>

@if (string.IsNullOrEmpty(CandidateId))
{
    <a href="Candidates">Navigate to all candidates overview.</a>
}
else
{
    <div>
        <h1>@AppData.candidateMap[CandidateId].name</h1>
        <p>@AppData.candidateDict[CandidateId].Where(x => x.Pacs > 0).Count() PACs have donated a total of @String.Format("{0:n0}",AppData.candidateDict[CandidateId].Sum(x => x.Pacs)) to this candidate. <a href=@CandidateUrl target="_blank">Source</a></p>

        @foreach(var donation in AppData.candidateDict[CandidateId].Where(x => x.Pacs > 0).OrderByDescending(x => x.Pacs))
        {
            <p><a href="Pac/@donation.org.Pacid">@donation.org.Ultord</a> donated $@String.Format("{0:n0}",donation.Pacs)</p>
        }
    </div>    
}

@code{
        [Parameter]
        public string CandidateId { get; set; }

        string CandidateUrl => $"https://www.opensecrets.org/members-of-congress/contributors?cid={CandidateId}&cycle=2022";
}