@page "/Pac/{PacId}"
@inject AppData AppData

<PageTitle>Where do they stand?</PageTitle>

<Statement></Statement>

@if (string.IsNullOrEmpty(PacId))
{
    <a href="Pacs">Navigate to All Pacs overview.</a>
}
else
{
    <div>
        <h1>@AppData.pacMap[PacId].Ultord</h1>
        <p>This PAC has donated @String.Format("{0:n0}",AppData.pacDict[PacId].Sum(x => x.Pacs)) to @String.Format("{0:n0}",AppData.pacDict[PacId].Where(x => x.Pacs > 0).Count()) candidates who co-sponsored HR 1011. <a href=@PacUrl target="_blank">Source</a></p>
        
        @foreach(var donation in AppData.pacDict[PacId].Where(x => x.Pacs > 0).OrderByDescending(x => x.Pacs))
        {
            <p>$@String.Format("{0:n0}",donation.Pacs) donated to <a href="Candidate/@donation.Candidate.id">@donation.Candidate.name</a></p>
        }
    </div>    
}

@code{
    [Parameter]
    public string PacId { get; set; }

    string PacUrl => $"https://www.opensecrets.org/political-action-committees-pacs/{PacId}/candidate-recipients/2022";
}