<p>Access to Safe Legal Abortion is a Human Right.  This is codified by the United Nations in the UN Convention on Civil and Political Rights via General Comment No. 36 point 8 (2019).</p>

<p>150 Republican House Members have co-sponsored the Life At Conception Act of 2021 (HR 1011), which would revoke that right in US law nationwide.</p>

<p>Data from the top 100 contributors to each candidate for the 2021-2022 election cycle from OpenSecrets.org as of 5/12/2022.  Individual contributions not included.</p>