@page "/"
@inject AppData AppData

<PageTitle>Where do they stand?</PageTitle>

Access to Safe Legal Abortion is a Human Right.  This is codified by the United Nations in the UN Convention on Civil and Political Rights via General Comment No. 36 point 8 (2019).

150 Republican House Members have co-sponsored the Life At Conception Act of 2021 (HR 1011), which would revoke that right in US law, banning the right to Abortion nationwide, without exceptions.

These are the PACs that have contributed money for the current election cycle for those candidates, ordered by the amount donated.

Data from the top 100 contributors to each candidate from OpenSecrets.org as of 5/12/2022.

@foreach (var org in AppData.pacDict)
{
    <div>
        <h1>@org.</h1>
    </div>
}